<div *ngIf="!isDelete; else deleteCertificate">
  <div>
<!--    <img class="img-responsive" [src]="imgUrl" alt="lorem">-->
    <img class="card-img-top" [src]="getImageUrl(giftCertificate.name)" alt="lorem" style="width: 300px; height: 180px">
    <br>
  </div>
  <p>
    <strong>ID: </strong>{{giftCertificate.id}} <br/>
    <strong>Name: </strong>{{giftCertificate.name}} <br/>
    <strong>Description: </strong>{{giftCertificate.description}} <br/>
    <strong>Price: </strong>{{giftCertificate.price}} $ <br/>
    <strong>Duration: </strong>{{giftCertificate.duration}} days<br/>
    <strong>CreateDate: </strong>{{giftCertificate.createDate}} <br/>
    <strong>LastUpdateDate: </strong>{{giftCertificate.lastUpdateDate}} <br/><br/>
    <strong>Tags: </strong>
  <div *ngFor="let tag of giftCertificate.tagList">
    <a>#{{tag.name}}</a>
  </div><br>
  <a *ngIf="role == 'UNAUTHORIZED'; else authorized" routerLink="../../login">
    Please log in to add to shopping cart
  </a>
  <ng-template #authorized>
    <button class="btn btn-secondary" (click)="addToCart(giftCertificate)">Add to shopping cart</button>
    <div class="admin-buttons" *ngIf="role == 'ADMIN'">
      <a [routerLink]="['../../update-gift-certificate', giftCertificate.id]" routerLinkActive="active" class="btn btn-secondary">Update</a>
      <button class="btn btn-secondary" (click)="deleteGiftCertificate(giftCertificate)"
              style="margin-left: 1.5rem">Delete</button>
    </div>
  </ng-template>
</div>

<ng-template #deleteCertificate>
  <div *ngIf="!isDeleteFailed; else error">
    <h2 class="message">The gift certificate has been deleted successfully.</h2>
  </div>
  <ng-template #error>
    <h2 class="error">ERROR: The gift certificate has not been deleted.</h2>
  </ng-template>

</ng-template>
