.certificate {
  border: 1px dashed #000;
}

.admin-buttons {
  margin-top: 1rem;
}

.message {
  text-align: center;
  margin-top: 10rem;
  color: green;
}

.error {
  text-align: center;
  margin-top: 10rem;
  color: red;
}

.card-img-top {
  width: 330px;
  height: 198px;
}
