<div *ngIf="isCreated; else checkCart">
  <h2 class="message">Your order has been created successfully.</h2>
</div>

<ng-template #checkCart>
  <div *ngIf="!isCreateFailed; else error">
    <table class="table">
      <tr>
        <th scope="col">Gift certificate name</th>
        <th scope="col">Description</th>
        <th scope="col">Duration</th>
        <th scope="col">Price</th>
      </tr>
      <tr *ngFor="let giftCertificate of giftCertificates">
        <td>{{giftCertificate.name}}</td>
        <td>{{giftCertificate.description}}</td>
        <td>{{giftCertificate.duration}} days</td>
        <td>{{giftCertificate.price}} $</td>
      </tr>
    </table>
    <form (ngSubmit)="onSubmit()">
      <button class="btn btn-primary" type="submit">Buy</button>
    </form>
    <br>
    <button class="btn btn-dark" (click) = clearCart()>Clear cart</button>
  </div>

  <ng-template #error>
    <h2 class="error">ERROR: Your order has not been created.</h2>
  </ng-template>

</ng-template>



