<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">GC-System</a>
    </div>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item active"><a class="nav-link" routerLink="home">Home</a></li>
      <li class="nav-item active"><a class="nav-link" *ngIf="!info.token; else loggedIn" routerLink="login">Login</a></li>
      <ng-template #loggedIn>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <li class="nav-item active"><a class="nav-link" href="#" (click)="logout()">Logout</a></li>
          <li class="nav-item active"><span class="nav-link">You are logged in like {{info.username}}</span></li>
        </ul>
      </ng-template>
    </ul>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item active" *ngIf="info.role === 'UNAUTHORIZED'; else authorized"></li>
      <ng-template #authorized>
        <li class="nav-item active"><a class="nav-link" [routerLink]="['/cart']">Checkout cart</a></li>
      </ng-template>
    </ul>
  </div>

</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>



<!--    <div class="navbar-header" *ngIf="info.token; else loggedOut">-->
<!--      <p>-->
<!--        <strong>Username: </strong> {{info.username}} <br/>-->
<!--        <strong>Token: </strong> {{info.token}} <br/>-->
<!--      </p>-->
<!--      <button class="btn btn-secondary" (click)="logout()">Logout</button>-->
<!--    </div>-->
<!--    -->
<!--  </div>-->
<!--  <div *ngIf="info.token; else loggedOut">-->
<!--    <p>-->
<!--      <strong>Username: </strong> {{info.username}} <br/>-->
<!--      <strong>Token: </strong> {{info.token}} <br/>-->
<!--    </p>-->
<!--    <button class="btn btn-secondary" (click)="logout()">Logout</button>-->
<!--  </div>-->




<!--      <li *ngIf="authority === 'user'" class="nav-item">-->
<!--        <a class="nav-link" routerLink="user">User Board</a>-->
<!--      </li>-->
<!--      <li *ngIf="authority === 'admin'" class="nav-item">-->
<!--        <a class="nav-link" routerLink="admin">Admin Board</a>-->
<!--      </li>-->
<!--      <li *ngIf="authority === 'pm'" class="nav-item">-->
<!--        <a class="nav-link" routerLink="pm">PM Board</a>-->
<!--      </li>-->
<!--      <li *ngIf="!authority" class="nav-item">-->
<!--        <a class="nav-link" routerLink="auth/login">Login</a>-->
<!--      </li>-->

