<div class="card-columns" style="display: inline-block;">
  <div class="card" style="width: 16rem; height: 19rem;" *ngFor="let giftCertificate of giftCertificates">
    <img class="card-img-top" [routerLink]="['../gift-certificates/', giftCertificate.id]"
         routerLinkActive="active" [src]="getImageUrl(giftCertificate.name)" alt="lorem"
         style="width: 250px; height: 150px">
    <div class="card-body">
      <a class="card-link" [title]="giftCertificate.name + ' details'"
         [routerLink]="['../gift-certificates/', giftCertificate.id]" routerLinkActive="active">
        {{giftCertificate.name}}
      </a><br/>
      <strong>Price: </strong>{{giftCertificate.price}} $<br/>
      <strong>Tags: </strong>
      <div class="middle-content" *ngFor="let tag of giftCertificate.tagList" style="display: inline">
        <a class="card-link" [title]="'Gift certificates with tag #' + tag.name"
           [routerLink]="'../gift-certificates-by-tag/'"
           [queryParams]="{'tagName':tag.name}" (click)="reloadPage(tag.name)">#{{tag.name}} </a>
      </div>
    </div>
  </div>
</div>
