<!--<h3 class="text-primary">Hello, {{info.username}}</h3>-->
<h1 style="text-align: center">GIFT CERTIFICATE SYSTEM</h1>
<div class="card-columns" style="display: inline-block;">
  <div class="card" style="width: 17rem; height: 25rem;" *ngFor="let giftCertificate of giftCertificates">
    <img class="card-img-top" [routerLink]="['../gift-certificates/', giftCertificate.id]"
         routerLinkActive="active" [src]="getImageUrl(giftCertificate.name)" alt="lorem">
    <div class="card-body">
      <a class="card-link" [title]="giftCertificate.name + ' details'"
         [routerLink]="['../gift-certificates/', giftCertificate.id]" routerLinkActive="active">
        {{giftCertificate.name}}
      </a><br/>
      <strong>Price: </strong>{{giftCertificate.price}} $<br/>
      <strong>Tags: </strong>
      <div class="middle-content" *ngFor="let tag of giftCertificate.tagList">
        <a class="card-link" [title]="'Gift certificates with tag #' + tag.name">#{{tag.name}}</a>
      </div><br>

    </div>
  </div>
</div>



