.title {
  text-align: center;
}

.card {
  display: flex;
  max-width: 16rem;
  height: 20rem;
  flex-basis: 16rem;
  flex-direction: column;
  margin: 0.6rem;
}

.card-img-top {
  width: 254px;
  height: 165px;
}

.card-title-link {
  color: black;
  font-size: 20px;
}

.alert-info {
  text-align: center;
  width: 10rem;
  height: 3rem;
  left: 45%;
  margin-bottom: 1rem;
}
